html {
  scroll-behavior: smooth;
  user-select: none;
}

body {z-index:100;
  overflow: hidden;
}

.container_portait img {
  z-index:100 !important;
  width: 10rem;
}

.container_arrow img {
  z-index:100;
  width: 3rem;
}
#about-2 {
  transform: rotate(180deg);
}

.know_me_more {
  padding-top:.5rem;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
.hero {
  z-index:1;
  background-color: #fff;
  position: relative;
  height: 100%;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;

}

.cube {
  z-index:1;
  opacity: 0.1;
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px rgb(98, 189, 250);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: scale(0) rotate(0deg)
    translate(-50%, -50%);
  transform: scale(0) rotate(0deg)
    translate(-50%, -50%);
  -webkit-animation: cube 12s ease-in forwards
    infinite;
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #a9c2f3;
}
.cube:nth-child(2) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

@-webkit-keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg)
      translate(-50%, -50%);
    transform: scale(0) rotate(0deg)
      translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg)
      translate(-50%, -50%);
    transform: scale(20) rotate(960deg)
      translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg)
      translate(-50%, -50%);
    transform: scale(0) rotate(0deg)
      translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg)
      translate(-50%, -50%);
    transform: scale(20) rotate(960deg)
      translate(-50%, -50%);
    opacity: 0;
  }
}
