input,
textarea {
  background: #f6f6f6 !important;
}

.btn_send {
  border: 0.15rem solid var(--purple);
  width: fit-content;
  border-radius: 3rem;
  padding: 0.2rem 1rem !important;
  font-size: 1rem;
  font-size: 1rem;
  background: #fff;
  position: relative;
  top: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.15s ease-in-out;
}

.btn_send:hover {
  background: var(--purple);
  color: #fff !important;
}

input,
textarea {
  font-size: small !important;
  color: #000 !important;
  background: #f1f1f1 !important;
  border: 0 !important;
}
textarea {
  height: 10rem;
}

input:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type='text']:focus,
input[type='email']:focus {
  outline: none !important;
  border: 1px solid var(--purple) !important    ;
  box-shadow: none;
  outline: none !important;
  transition: 0.3s ease-in;
}

input,
textarea {
  outline: none !important  ;
}

.btn_send {
  outline: none !important;
}

.message {
  text-align: center;
  display: grid;
  place-items: center;
  height: 70vh;
}
