@media (max-width: 786px) {
  body {
    overflow: auto !important;
  }

  .arrow-down {
    margin-top: 6rem !important;
  }

  #about-2 {
    margin-bottom: 1rem;
  }

  .container_arrow img {
    width: 2rem !important;
  }

  .cube {
    display: none;
  }

  .animation .ball_three,
  .ball_four,
  .ball_five {
    display: none !important;
  }

  .section-hero {
    height: 75vh !important;
  }
  .section-experimental {
    margin-top: 15rem !important;
  }
}

@media (min-width: 786px) {
  .description {
    max-width: 40rem;
  }
}

@media (min-width: 1500px) {
  .container_arrow {
    padding-top: 5rem !important;
  }

  .hero_text {
    margin-top: 5rem;
  }

  #know_more {
    margin-bottom: 10rem !important;
    font-size: 3rem;
  }
}
